# Node.js dependencies
node_modules/
# Optional: if you use npm:
package-lock.json
# Optional: if you use yarn:
yarn.lock

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Test video
assets/s3_test_video.mp4

# Ds_Store files
.DS_Store
